#form-create-car {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#form-create-car header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#form-create-car header button {
  background: none;
  color: black;
  font-size: 10px;
}

#form-create-car form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-create-car form #field-input {
  width: 100%;
} 

#form-create-car form #field-input label {} 

#form-create-car form #field-input input {} 

#form-create-car #buttons {
  width: 100%;
}

#form-create-car #buttons button {
  color: white;
  border-radius: 5px;
}

#form-create-car #buttons button[type="reset"]{
  background-color: green;
}

#form-create-car #buttons button[type="button"] {
  background-color: rgb(231, 73, 94);
}